@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #37263a; /* Editorial Plum */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-cream: #efe7da; /* Seoul Ivory Beige */
  --color-mauve: #735364; /* Seoul Mauve */
  --color-aqua: #acced1; /* Pure Dew Aqua */
  --color-plum: #37263a; /* Editorial Plum */
  --font-sans: var(--font-montserrat);
  --font-serif: var(--font-playfair);
}

body {
  background: var(--background);
  color: var(--foreground);
}
